Calendly-to-Zoom-Mail.json
{
    "name": "Landing Page Specialist (Calendly > Zoom)",
    "flow": [
        {
            "id": 1,
            "module": "calendly:inviteeCreated",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 207242
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "__IMTHOOK__": {
                        "label": "My Invitee created webhook"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "zoom:createMeeting",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 766631
            },
            "mapper": {
                "user_id": "gt6SuSoJRTWlJhbS2wxq6w",
                "topic": "{{1.event_type.name}}",
                "type": "",
                "start_time": "{{1.event.start_time}}",
                "duration": "{{1.event_type.duration}}",
                "password": "",
                "agenda": "",
                "settings": {
                    "host_video": false,
                    "participant_video": false,
                    "cn_meeting": false,
                    "in_meeting": false,
                    "join_before_host": false,
                    "mute_upon_entry": false,
                    "watermark": false,
                    "use_pmi": false,
                    "approval_type": "",
                    "registration_type": "",
                    "audio": "",
                    "auto_recording": "",
                    "enforce_login": false,
                    "enforce_login_domains": "",
                    "alternative_hosts": ""
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "My Zoom.us connection"
                    },
                    "user_id": {
                        "mode": "chose",
                        "label": "Ely Fornoville"
                    },
                    "type": {
                        "mode": "chose",
                        "label": ""
                    },
                    "settings": {
                        "nested": {
                            "approval_type": {
                                "label": ""
                            },
                            "registration_type": {
                                "label": ""
                            },
                            "audio": {
                                "label": ""
                            },
                            "auto_recording": {
                                "label": ""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "user_id",
                        "type": "select",
                        "label": "User",
                        "required": true
                    },
                    {
                        "name": "topic",
                        "type": "text",
                        "label": "Topic"
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Meeting type",
                        "validate": {
                            "enum": [
                                1,
                                2,
                                3,
                                8
                            ]
                        }
                    },
                    {
                        "name": "start_time",
                        "type": "date",
                        "label": "Start time"
                    },
                    {
                        "name": "duration",
                        "type": "number",
                        "label": "Duration"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "agenda",
                        "type": "text",
                        "label": "Agenda"
                    },
                    {
                        "name": "settings",
                        "type": "collection",
                        "label": "Settings",
                        "spec": [
                            {
                                "name": "host_video",
                                "type": "boolean",
                                "label": "Host video",
                                "required": true
                            },
                            {
                                "name": "participant_video",
                                "type": "boolean",
                                "label": "Participant video",
                                "required": true
                            },
                            {
                                "name": "cn_meeting",
                                "type": "boolean",
                                "label": "Host in China",
                                "required": true
                            },
                            {
                                "name": "in_meeting",
                                "type": "boolean",
                                "label": "Host in India",
                                "required": true
                            },
                            {
                                "name": "join_before_host",
                                "type": "boolean",
                                "label": "Join before host",
                                "required": true
                            },
                            {
                                "name": "mute_upon_entry",
                                "type": "boolean",
                                "label": "Mute upon entry",
                                "required": true
                            },
                            {
                                "name": "watermark",
                                "type": "boolean",
                                "label": "Watermark",
                                "required": true
                            },
                            {
                                "name": "use_pmi",
                                "type": "boolean",
                                "label": "Use PMI",
                                "required": true
                            },
                            {
                                "name": "approval_type",
                                "type": "select",
                                "label": "Approval type",
                                "validate": {
                                    "enum": [
                                        0,
                                        1,
                                        2
                                    ]
                                }
                            },
                            {
                                "name": "registration_type",
                                "type": "select",
                                "label": "Registration type",
                                "validate": {
                                    "enum": [
                                        1,
                                        2,
                                        3
                                    ]
                                }
                            },
                            {
                                "name": "audio",
                                "type": "select",
                                "label": "Audio",
                                "validate": {
                                    "enum": [
                                        "both",
                                        "telephony",
                                        "voip"
                                    ]
                                }
                            },
                            {
                                "name": "auto_recording",
                                "type": "select",
                                "label": "Auto recording",
                                "validate": {
                                    "enum": [
                                        "local",
                                        "cloud",
                                        "none"
                                    ]
                                }
                            },
                            {
                                "name": "enforce_login",
                                "type": "boolean",
                                "label": "Enforce login",
                                "required": true
                            },
                            {
                                "name": "enforce_login_domains",
                                "type": "text",
                                "label": "Enforce login domains"
                            },
                            {
                                "name": "alternative_hosts",
                                "type": "text",
                                "label": "Alternative hosts"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "email:ActionSendEmail",
            "version": 6,
            "parameters": {
                "account": 761045,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.invitee.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!doctype html><html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>   <!-- NAME: 1 COLUMN -->   <!--[if gte mso 15]>   <xml>      <o:OfficeDocumentSettings>         <o:AllowPNG/>         <o:PixelsPerInch>96</o:PixelsPerInch>      </o:OfficeDocumentSettings>   </xml>   <![endif]-->   <meta charset=\"UTF-8\">   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">   <title>Meeting with Landing Page Specialist</title>   <style type=\"text/css\">      p{         margin:10px 0;         padding:0;         }      table{         border-collapse:collapse;         }      h1,h2,h3,h4,h5,h6{         display:block;         margin:0;         padding:0;         }      img,a img{         border:0;         height:auto;         outline:none;         text-decoration:none;         }      body,#bodyTable,#bodyCell{         height:100%;         margin:0;         padding:0;         width:100%;         }      .mcnPreviewText{         display:none !important;         }      #outlook a{         padding:0;         }      img{         -ms-interpolation-mode:bicubic;         }      table{         mso-table-lspace:0pt;         mso-table-rspace:0pt;         }      .ReadMsgBody{         width:100%;         }      .ExternalClass{         width:100%;         }      p,a,li,td,blockquote{         mso-line-height-rule:exactly;         }      a[href^=tel],a[href^=sms]{         color:inherit;         cursor:default;         text-decoration:none;         }      p,a,li,td,body,table,blockquote{         -ms-text-size-adjust:100%;         -webkit-text-size-adjust:100%;         }      .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{         line-height:100%;         }      a[x-apple-data-detectors]{         color:inherit !important;         text-decoration:none !important;         font-size:inherit !important;         font-family:inherit !important;         font-weight:inherit !important;         line-height:inherit !important;         }      #bodyCell{         padding:10px;         }      .templateContainer{         max-width:600px !important;         border:1px none ;         }      a.mcnButton{         display:block;         }      .mcnImage,.mcnRetinaImage{         vertical-align:bottom;         }      .mcnTextContent{         word-break:break-word;         }      .mcnTextContent img{         height:auto !important;         }      .mcnDividerBlock{         table-layout:fixed !important;         }      /*      @tab Page      @section Background Style      @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.      */      body,#bodyTable{         /*@editable*/background-color:#FAFAFA;         }      /*      @tab Page      @section Background Style      @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.      */      #bodyCell{         /*@editable*/border-top:0;         }      /*      @tab Page      @section Email Border      @tip Set the border for your email.      */      .templateContainer{         /*@editable*/border:1px none ;         }      /*      @tab Page      @section Heading 1      @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.      @style heading 1      */      h1{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:26px;         /*@editable*/font-style:normal;         /*@editable*/font-weight:bold;         /*@editable*/line-height:125%;         /*@editable*/letter-spacing:normal;         /*@editable*/text-align:left;         }      /*      @tab Page      @section Heading 2      @tip Set the styling for all second-level headings in your emails.      @style heading 2      */      h2{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:22px;         /*@editable*/font-style:normal;         /*@editable*/font-weight:bold;         /*@editable*/line-height:125%;         /*@editable*/letter-spacing:normal;         /*@editable*/text-align:left;         }      /*      @tab Page      @section Heading 3      @tip Set the styling for all third-level headings in your emails.      @style heading 3      */      h3{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:20px;         /*@editable*/font-style:normal;         /*@editable*/font-weight:bold;         /*@editable*/line-height:125%;         /*@editable*/letter-spacing:normal;         /*@editable*/text-align:left;         }      /*      @tab Page      @section Heading 4      @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.      @style heading 4      */      h4{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:18px;         /*@editable*/font-style:normal;         /*@editable*/font-weight:bold;         /*@editable*/line-height:125%;         /*@editable*/letter-spacing:normal;         /*@editable*/text-align:left;         }      /*      @tab Preheader      @section Preheader Style      @tip Set the background color and borders for your email's preheader area.      */      #templatePreheader{         /*@editable*/background-color:#fafafa;         /*@editable*/background-image:none;         /*@editable*/background-repeat:no-repeat;         /*@editable*/background-position:center;         /*@editable*/background-size:cover;         /*@editable*/border-top:0;         /*@editable*/border-bottom:0;         /*@editable*/padding-top:50px;         /*@editable*/padding-bottom:0px;         }      /*      @tab Preheader      @section Preheader Text      @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.      */      #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{         /*@editable*/color:#656565;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:12px;         /*@editable*/line-height:150%;         /*@editable*/text-align:left;         }      /*      @tab Preheader      @section Preheader Link      @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.      */      #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{         /*@editable*/color:#656565;         /*@editable*/font-weight:normal;         /*@editable*/text-decoration:underline;         }      /*      @tab Header      @section Header Style      @tip Set the background color and borders for your email's header area.      */      #templateHeader{         /*@editable*/background-color:#ffffff;         /*@editable*/background-image:none;         /*@editable*/background-repeat:no-repeat;         /*@editable*/background-position:center;         /*@editable*/background-size:cover;         /*@editable*/border-top:0;         /*@editable*/border-bottom:0;         /*@editable*/padding-top:9px;         /*@editable*/padding-bottom:0;         }      /*      @tab Header      @section Header Text      @tip Set the styling for your email's header text. Choose a size and color that is easy to read.      */      #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:16px;         /*@editable*/line-height:150%;         /*@editable*/text-align:left;         }      /*      @tab Header      @section Header Link      @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.      */      #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{         /*@editable*/color:#007C89;         /*@editable*/font-weight:normal;         /*@editable*/text-decoration:underline;         }      /*      @tab Body      @section Body Style      @tip Set the background color and borders for your email's body area.      */      #templateBody{         /*@editable*/background-color:#ffffff;         /*@editable*/background-image:none;         /*@editable*/background-repeat:no-repeat;         /*@editable*/background-position:center;         /*@editable*/background-size:cover;         /*@editable*/border-top:0;         /*@editable*/border-bottom:2px none #EAEAEA;         /*@editable*/padding-top:0;         /*@editable*/padding-bottom:9px;         }      /*      @tab Body      @section Body Text      @tip Set the styling for your email's body text. Choose a size and color that is easy to read.      */      #templateBody .mcnTextContent,#templateBody .mcnTextContent p{         /*@editable*/color:#202020;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:16px;         /*@editable*/line-height:150%;         /*@editable*/text-align:left;         }      /*      @tab Body      @section Body Link      @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.      */      #templateBody .mcnTextContent a,#templateBody .mcnTextContent p a{         /*@editable*/color:#007C89;         /*@editable*/font-weight:normal;         /*@editable*/text-decoration:underline;         }      /*      @tab Footer      @section Footer Style      @tip Set the background color and borders for your email's footer area.      */      #templateFooter{         /*@editable*/background-color:#fafafa;         /*@editable*/background-image:none;         /*@editable*/background-repeat:no-repeat;         /*@editable*/background-position:center;         /*@editable*/background-size:cover;         /*@editable*/border-top:0;         /*@editable*/border-bottom:0;         /*@editable*/padding-top:9px;         /*@editable*/padding-bottom:9px;         }      /*      @tab Footer      @section Footer Text      @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.      */      #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{         /*@editable*/color:#656565;         /*@editable*/font-family:Helvetica;         /*@editable*/font-size:12px;         /*@editable*/line-height:150%;         /*@editable*/text-align:center;         }      /*      @tab Footer      @section Footer Link      @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.      */      #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{         /*@editable*/color:#656565;         /*@editable*/font-weight:normal;         /*@editable*/text-decoration:underline;         }      @media only screen and (min-width:768px){         .templateContainer{            width:600px !important;            }         }  @media only screen and (max-width: 480px){         body,table,td,p,a,li,blockquote{            -webkit-text-size-adjust:none !important;            }         }  @media only screen and (max-width: 480px){         body{            width:100% !important;            min-width:100% !important;            }         }  @media only screen and (max-width: 480px){         #bodyCell{            padding-top:10px !important;            }         }  @media only screen and (max-width: 480px){         .mcnRetinaImage{            max-width:100% !important;            }         }  @media only screen and (max-width: 480px){         .mcnImage{            width:100% !important;            }         }  @media only screen and (max-width: 480px){         .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{            max-width:100% !important;            width:100% !important;            }         }  @media only screen and (max-width: 480px){         .mcnBoxedTextContentContainer{            min-width:100% !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageGroupContent{            padding:9px !important;            }         }  @media only screen and (max-width: 480px){         .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{            padding-top:9px !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{            padding-top:18px !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageCardBottomImageContent{            padding-bottom:9px !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageGroupBlockInner{            padding-top:0 !important;            padding-bottom:0 !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageGroupBlockOuter{            padding-top:9px !important;            padding-bottom:9px !important;            }         }  @media only screen and (max-width: 480px){         .mcnTextContent,.mcnBoxedTextContentColumn{            padding-right:18px !important;            padding-left:18px !important;            }         }  @media only screen and (max-width: 480px){         .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{            padding-right:18px !important;            padding-bottom:0 !important;            padding-left:18px !important;            }         }  @media only screen and (max-width: 480px){         .mcpreview-image-uploader{            display:none !important;            width:100% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Heading 1         @tip Make the first-level headings larger in size for better readability on small screens.         */         h1{            /*@editable*/font-size:22px !important;            /*@editable*/line-height:125% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Heading 2         @tip Make the second-level headings larger in size for better readability on small screens.         */         h2{            /*@editable*/font-size:20px !important;            /*@editable*/line-height:125% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Heading 3         @tip Make the third-level headings larger in size for better readability on small screens.         */         h3{            /*@editable*/font-size:18px !important;            /*@editable*/line-height:125% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Heading 4         @tip Make the fourth-level headings larger in size for better readability on small screens.         */         h4{            /*@editable*/font-size:16px !important;            /*@editable*/line-height:150% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Boxed Text         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.         */         .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{            /*@editable*/font-size:14px !important;            /*@editable*/line-height:150% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Preheader Visibility         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.         */         #templatePreheader{            /*@editable*/display:block !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Preheader Text         @tip Make the preheader text larger in size for better readability on small screens.         */         #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{            /*@editable*/font-size:14px !important;            /*@editable*/line-height:150% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Header Text         @tip Make the header text larger in size for better readability on small screens.         */         #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{            /*@editable*/font-size:16px !important;            /*@editable*/line-height:150% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Body Text         @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.         */         #templateBody .mcnTextContent,#templateBody .mcnTextContent p{            /*@editable*/font-size:16px !important;            /*@editable*/line-height:150% !important;            }         }  @media only screen and (max-width: 480px){         /*         @tab Mobile Styles         @section Footer Text         @tip Make the footer content text larger in size for better readability on small screens.         */         #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{            /*@editable*/font-size:14px !important;            /*@editable*/line-height:150% !important;            }         }</style></head><body><center>   <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" height=\"100%\" width=\"100%\" id=\"bodyTable\">      <tr>         <td align=\"center\" valign=\"top\" id=\"bodyCell\">            <!-- BEGIN TEMPLATE // -->            <!--[if (gte mso 9)|(IE)]>            <table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"600\" style=\"width:600px;\">               <tr>                  <td align=\"center\" valign=\"top\" width=\"600\" style=\"width:600px;\">            <![endif]-->            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"templateContainer\">               <tr>                  <td valign=\"top\" id=\"templatePreheader\"></td>               </tr>               <tr>                  <td valign=\"top\" id=\"templateHeader\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnImageBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnImageBlockOuter\">                     <tr>                        <td valign=\"top\" style=\"padding:0px\" class=\"mcnImageBlockInner\">                           <table align=\"left\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"mcnImageContentContainer\" style=\"min-width:100%;\">                              <tbody><tr>                                 <td class=\"mcnImageContent\" valign=\"top\" style=\"padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;\">                                    <img align=\"center\" alt=\"\" src=\"https://gallery.mailchimp.com/8b3a88aebd5128437dd9fba25/images/5f9f35bf-c1fa-4f5d-b6a6-db1d0f6c7085.png\" width=\"599.5\" style=\"max-width:1199px; padding-bottom: 0; display: inline !important; vertical-align: bottom;\" class=\"mcnRetinaImage\">                                 </td>                              </tr>                              </tbody></table>                        </td>                     </tr>                     </tbody>                  </table></td>               </tr>               <tr>                  <td valign=\"top\" id=\"templateBody\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnTextBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnTextBlockOuter\">                     <tr>                        <td valign=\"top\" class=\"mcnTextBlockInner\" style=\"padding-top:9px;\">                           <!--[if mso]>                           <table align=\"left\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100%;\">                              <tr>                           <![endif]-->                           <!--[if mso]>                           <td valign=\"top\" width=\"600\" style=\"width:600px;\">                           <![endif]-->                           <table align=\"left\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:100%; min-width:100%;\" width=\"100%\" class=\"mcnTextContentContainer\">                              <tbody><tr>                                 <td valign=\"top\" class=\"mcnTextContent\" style=\"padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;\">                                    <p>Hi {{1.invitee.full_name}}! <br>                                       <br>                                       All of our meetings are done via the Zoom.us platform.<br>                                       <br>                                       Below you can find the connection information to start our meeting:</p>                                    <ul>                                       <li>Topic: {{5.topic}}</li>                                       <li>Date: {{formatDate(5.start_time; \"DD/MM/YYYY\")}}</li>                                       <li>Start Time: {{formatDate(5.start_time; \"hh:mm A\")}}</li>                                       <li>Duration: {{5.duration}} minutes</li>                                       <li>Join URL: {{5.join_url}}</li>                                       <li>Password: </li>                                    </ul>                                    <p>Talk to you soon!</p>                                 </td>                              </tr>                              </tbody></table>                           <!--[if mso]>                           </td>                           <![endif]-->                           <!--[if mso]>                           </tr>                           </table>                           <![endif]-->                        </td>                     </tr>                     </tbody>                  </table><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnButtonBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnButtonBlockOuter\">                     <tr>                        <td style=\"padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;\" valign=\"top\" align=\"center\" class=\"mcnButtonBlockInner\">                           <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"mcnButtonContentContainer\" style=\"border-collapse: separate !important;border-radius: 4px;background-color: #1D82FF;\">                              <tbody>                              <tr>                                 <td align=\"center\" valign=\"middle\" class=\"mcnButtonContent\" style=\"font-family: \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif; font-size: 16px; padding: 18px;\">                                    <a class=\"mcnButton \" title=\"Start meeting via Zoom.us\" href=\"{{5.join_url}}\" target=\"_blank\" style=\"padding:5px 18px;font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;\">Start meeting via Zoom.us</a>                                 </td>                              </tr>                              </tbody>                           </table>                        </td>                     </tr>                     </tbody>                  </table><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnTextBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnTextBlockOuter\">                     <tr>                        <td valign=\"top\" class=\"mcnTextBlockInner\" style=\"padding-top:9px;\">                           <!--[if mso]>                           <table align=\"left\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100%;\">                              <tr>                           <![endif]-->                           <!--[if mso]>                           <td valign=\"top\" width=\"600\" style=\"width:600px;\">                           <![endif]-->                           <table align=\"left\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:100%; min-width:100%;\" width=\"100%\" class=\"mcnTextContentContainer\">                              <tbody><tr>                                 <td valign=\"top\" class=\"mcnTextContent\" style=\"padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;\">                                    <p>Reply on this email with any questions you have.<br>                                       <br>                                       Kind regards,<br>                                       Ely Fornoville<br>                                       Landing Page Specialist<br>                                       +32 477 80 24 68</p>                                 </td>                              </tr>                              </tbody></table>                           <!--[if mso]>                           </td>                           <![endif]-->                           <!--[if mso]>                           </tr>                           </table>                           <![endif]-->                        </td>                     </tr>                     </tbody>                  </table><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnDividerBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnDividerBlockOuter\">                     <tr>                        <td class=\"mcnDividerBlockInner\" style=\"min-width:100%; padding:18px;\">                           <table class=\"mcnDividerContent\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"min-width: 100%;border-top: 2px none #FFFFFF;\">                              <tbody><tr>                                 <td>                                    <span></span>                                 </td>                              </tr>                              </tbody></table>                           <!--                                       <td class=\"mcnDividerBlockInner\" style=\"padding: 18px;\">                                       <hr class=\"mcnDividerContent\" style=\"border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;\" />                           -->                        </td>                     </tr>                     </tbody>                  </table></td>               </tr>               <tr>                  <td valign=\"top\" id=\"templateFooter\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnDividerBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnDividerBlockOuter\">                     <tr>                        <td class=\"mcnDividerBlockInner\" style=\"min-width: 100%; padding: 10px 18px 25px;\">                           <table class=\"mcnDividerContent\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"min-width: 100%;border-top: 2px solid #EEEEEE;\">                              <tbody><tr>                                 <td>                                    <span></span>                                 </td>                              </tr>                              </tbody></table>                           <!--                                       <td class=\"mcnDividerBlockInner\" style=\"padding: 18px;\">                                       <hr class=\"mcnDividerContent\" style=\"border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;\" />                           -->                        </td>                     </tr>                     </tbody>                  </table><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"mcnTextBlock\" style=\"min-width:100%;\">                     <tbody class=\"mcnTextBlockOuter\">                     <tr>                        <td valign=\"top\" class=\"mcnTextBlockInner\" style=\"padding-top:9px;\">                           <!--[if mso]>                           <table align=\"left\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100%;\">                              <tr>                           <![endif]-->                           <!--[if mso]>                           <td valign=\"top\" width=\"600\" style=\"width:600px;\">                           <![endif]-->                           <table align=\"left\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:100%; min-width:100%;\" width=\"100%\" class=\"mcnTextContentContainer\">                              <tbody><tr>                                 <td valign=\"top\" class=\"mcnTextContent\" style=\"padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;\">                                    <em><a href=\"http://www.landing-page-specialist.io\" target=\"_blank\">Landing Page Specialist</a></em><br>                                                                      </td>                              </tr>                              </tbody></table>                           <!--[if mso]>                           </td>                           <![endif]-->                           <!--[if mso]>                           </tr>                           </table>                           <![endif]-->                        </td>                     </tr>                     </tbody>                  </table></td>               </tr>            </table>            <!--[if (gte mso 9)|(IE)]>            </td>            </tr>            </table>            <![endif]-->            <!-- // END TEMPLATE -->         </td>      </tr>   </table></center></body></html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Meeting with Landing Page Specialist",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "My Others (SMTP) connection (SMTP support@landing-page-specialist.io)"
                    },
                    "headers": {
                        "items": []
                    },
                    "priority": {
                        "label": "Normal"
                    },
                    "references": {
                        "mode": "chose",
                        "items": []
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    },
                    "contentType": {
                        "label": "HTML"
                    },
                    "saveAfterSent": {
                        "label": "No"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    },
                    {
                        "name": "sender",
                        "type": "email",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}